
body {
  margin: 2 rem;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}
.GoalItem {
  padding: 2 rem;
  background-color: white;
  display: flex;
  flex-flow: row;
}
.GoalItem > div {
  margin-bottom: 1rem;
}
.GoalItem > div > li {
  color: White;
  padding: 0.1rem 0.5rem;
  margin-right: 1rem;
}

.GoalList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
}

.GoalList > li {
  padding: 1rem;
}

.GoalList > li:not(:last-child){
  margin-bottom: 1rem;
}

/*.GoalBarChart {
  transform: rotate(90deg);
}*/

/*input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}
input[type=checkbox]:checked + label {
  color:#0066ff;
  font-style: normal;
}*/
